<div>

  <header class="app-bar">
    <div class="bar">
      <img
        ngSrc="assets/LOGO-ICAP.png"
        width="640"   
        height="257" 
        alt="Logo ICAP"
        priority
        class="logo"
      />

      <nav class="menu" aria-label="Principal">
        <ul class="menu-list">
          <li class="menu-item"
              (mouseenter)="showSubmenu('formulacion')"
              (mouseleave)="hideSubmenu('formulacion')">
            <button class="menu-link" type="button" (click)="toggleSubmenu('formulacion')">
              Formulación
            </button>
            <ul class="submenu" *ngIf="visibleMenu === 'formulacion'">
              <li><button type="button" (click)="navegar('componentes')">Componentes</button></li>
              <li><button type="button" (click)="navegar('recetas')">Recetas</button></li>
              <li><button type="button" (click)="navegar('presentaciones')">Presentaciones de componentes</button></li>
            </ul>
          </li>


        </ul>
      </nav>

      <button class="btn-logout" type="button" (click)="onLogout()">Salir</button>
    </div>
  </header>


</div>